@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

/*////////////////////////////
  変数
/*/ ///////////////////////////

/* 色 */
$cYellow: #f1c925;
$cBlack: #121013;
$cPink: #841818;
$cWhite: #fafafa;
/* フォント */
$fOpen: "Noto Sans JP", sans-serif;
/* 初期設定 */

/*////////////////////////////
  PC
/*/ ///////////////////////////

/* 全体要素 */
html {
  font-size: 100%;
  background-color: $cBlack;
  color: $cWhite;
}
body {
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

/* 全体セレクタ */

nav {
  text-align: center;
}
.titles {
  position: absolute;
  top: 71%;
  left: 0;
  right: 0;
  bottom: 0;
  .site-title {
    font-size: 4.5rem;
    display: inline-block;
    height: 85px;
    color: $cWhite;
    border-bottom: solid 7px $cYellow;
    margin-bottom: 8.5px;
    letter-spacing: 3px;
    filter: drop-shadow(1px 1px 9px #cccbcb73);
  }
}
.sub-title {
  color: rgba(255, 255, 255, 0.671);
  text-align: center;
  font-size: 1.25rem;
  font-family: $fOpen;
}
.title-wrapper {
  text-align: center;
}
.sec-title {
  font-size: 3rem;
  display: inline-block;

  height: 60px;
  border-bottom: solid 6px $cYellow;
  margin-top: 60px;
  margin-bottom: 30px;
}
.wrapper {
  max-width: 1300px;
  padding: 50px 45px 50px 45px;
  margin: 0 auto;
}

/* ヘッダー部分 */
#header {
  min-height: 100vh;
  background-image: url(../img/dark-cube.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 40px;
  position: relative;
  nav {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        font-size: 1.2rem;
        margin-right: 30px;
        &:nth-child(4) {
          margin-right: 0;
        }
        a {
          color: $cWhite;
        }
      }
    }
  }
}
/* プロフィール部分 */
#profile {
  color: black;
  background-color: $cWhite;
  padding-bottom: 80px;
  .profile-content {
    display: flex;
    flex-direction: row;
    .profile-img {
      margin-right: 70px;
      width: 50%;
      border-radius: 5px;
      box-shadow: 5px 5px 7px black;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .profile-detail {
      width: 50%;
      word-break: break-all;
      padding: 60px 0 0 0;
      h3 {
        display: inline-block;
        font-size: 1.7rem;
      }
      p {
        margin-top: 10px;
        font-size: 1rem;
        display: inline-block;
      }
    }
  }
}
#skill {
  background-color: $cBlack;
  color: $cWhite;
  .skill-content {
    display: flex;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 80px;
    img {
      width: 100%;
      height: 100%;
      background: $cYellow;
    }
    h3 {
      margin-top: 20px;
      font-size: 1.6rem;
    }
    p {
      margin: 20px 0 30px 0;
      font-size: 1.2rem;
    }
    .img-cl {
      overflow: hidden;
      background-color: $cYellow;
      border-radius: 50%;
      border: solid 2.5px $cWhite;
      width: 91.5px;
      height: 25%;
      text-align: center;
      margin: 0 auto;
    }
    .skill-wrap {
      padding: 10px 10px 10px;
      margin-right: 40px;

      &:nth-child(3) {
        margin-right: 0;
      }
    }
    .skill-html {
      width: 27%;
    }
    .skill-php {
      width: 27%;
    }
    .skill-adobe {
      width: 27%;
    }
  }
}
/* ワーク部分 */

#work {
  background-color: $cWhite;
  color: $cBlack;
  .col {
    transition: transform 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.01) translate(-0.2%, -0.2%);
    }
  }
  .card-body {
    .card-text {
      display: inline-block;
      height: 130px;
    }
    .arrow-btn {
      text-align: right;

      font-size: 1.4rem;

      .fas {
        cursor: pointer;
        transition: transform 0.5s;
      }
      .fas-rotate {
        transform: rotate(-180deg);
      }
    }
    .open-text {
      margin-top: 10px;
    }
    .card-none {
      display: none;
      height: 80px;
    }
  }
}
/* フッター */
#footer {
  background-color: $cWhite;
  color: $cBlack;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}

/*////////////////////////////
  SP
/*/ ///////////////////////////

/* 中 */

@media screen and (max-width: 860px) {
  .titles {
    top: 75%;
    .site-title {
      font-size: 4rem;
      height: 75px;
      color: $cWhite;
      border-bottom: solid 5.5px $cYellow;
      margin-bottom: 6px;
      letter-spacing: 2px;
    }
    .sub-title {
      color: rgba(255, 255, 255, 0.671);
      text-align: center;
      font-size: 1.15rem;
      font-family: $fOpen;
    }
  }
  .sec-title {
    font-size: 2.7rem;
    height: 52px;
    border-bottom: solid 5px $cYellow;
    margin-bottom: 35px;
  }

  #header {
    nav {
      ul {
        li {
          font-size: 1.1rem;
          margin-right: 20px;
        }
      }
    }
  }
}
#skill {
  .skill-content {
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
    .img-cl {
      border: solid 2px $cWhite;
      width: 85.5px;
      height: 20.5%;
    }
  }
}

/* 小 */

@media screen and (max-width: 550px) {
  .titles {
    top: 78%;
    .site-title {
      font-size: 3.4rem;
      height: 65px;
      border-bottom: solid 4.5px $cYellow;
      margin-bottom: 6px;
      letter-spacing: 2px;
    }
    .sub-title {
      color: rgba(255, 255, 255, 0.671);
      text-align: center;
      font-size: 0.9rem;
      font-family: $fOpen;
    }
  }
  .sec-title {
    font-size: 2.35rem;
    height: 46px;
    border-bottom: solid 4px $cYellow;
    margin-bottom: 35px;
  }

  #header {
    nav {
      ul {
        li {
          font-size: 0.9rem;
          margin-right: 20px;
        }
      }
    }
  }
  #profile {
    padding-bottom: 50px;
    .profile-content {
      flex-direction: column;
      .profile-img {
        width: 100%;
      }
      .profile-detail {
        width: 100%;
        text-align: center;
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  #skill {
    .skill-content {
      flex-direction: column;
      margin-top:20px;
      .sp-width{
        width: 100%;
        margin-bottom:30px;
      }
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.9rem;
      }
      .img-cl {
        border: solid 2px $cWhite;
        width: 85.5px;
        height: 20.5%;
      }
    }
  }
}
